@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #eee;
  position: relative;
}

.confirmation {
  position: absolute;
  width: 60vw;
  height: 40vh;
  background-color: white;
  margin: 0 auto;
  left: calc(50% - 30vw);
  top: 200px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.confirmation p {
  font-size: 42px;

  margin-bottom: 40px;
}

.answer {
  display: flex;
}

.yes {
  padding: 10px 20px;
  background-color: rgb(98, 170, 98);
  border-radius: 20px;
  color: white;
  margin: 0 30px;
  cursor: pointer;
}

.no {
  padding: 10px 20px;
  background-color: rgb(107, 32, 32);
  border-radius: 20px;
  color: white;
  margin: 0 30px;
  cursor: pointer;
}

header {
  display: flex;
  background-color: rgb(23, 28, 28);
  padding: 20px;
  justify-content: center;
  border-bottom: 5px solid rgb(98, 170, 98);
}

header h1 {
  color: rgb(98, 170, 98);
}

form {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

form input {
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
  background: white;
  outline: none;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  margin-right: 20px;
}

.button {
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgb(98, 170, 98);
  border-radius: 18px;
  font-size: 18px;
  margin-right: 20px;
  border: none;
  display: flex;
  align-items: center;
}

.result {
  background-color: white;
  padding: 20px 40px 20px 40px;
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  border-radius: 24px;
  margin-bottom: 30px;
}

.result button {
  padding: 5px 20px;
  border: none;
  background-color: #eee;
  font-size: 18px;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}
.result button:hover {
  background-color: rgb(98, 170, 98);
  color: white;
}
